# Log files
*.log

# Operating system files
.DS_Store
Thumbs.db

# Editor directories and files
.idea
.vscode
*.swp
*.swo

# Testing
coverage

# Temporary files
*.tmp
*.temp

# Documentation
docs

# Package files
*.tgz